###############################################################################
# Recyclarr Configuration - TRaSH Templates (HD-Bluray+WEB + Remux+WEB)
# Last Updated: 2024-12-26
###############################################################################

radarr:
  #---------------------------------------------------------------------------
  # Radarr-HD: 1080p Movies (HD-Bluray+WEB AND Remux+WEB profiles)
  #---------------------------------------------------------------------------
  radarr-hd:
    base_url: http://radarr-hd:7878
    api_key: !env_var RADARR_HD_API_KEY
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include BOTH HD templates (creates 2 profiles)
    include:
      - template: radarr-quality-definition-movie
      # HD-Bluray + WEB profile
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
      # Remux + WEB 1080p profile
      - template: radarr-quality-profile-remux-web-1080p
      - template: radarr-custom-formats-remux-web-1080p
    
    # Media naming - configure manually in Radarr UI if needed

  #---------------------------------------------------------------------------
  # Radarr-4K: 4K Movies (UHD-Bluray+WEB AND Remux+WEB profiles)
  #---------------------------------------------------------------------------
  radarr-4k:
    base_url: http://radarr-4k:7878
    api_key: !env_var RADARR_4K_API_KEY
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include BOTH 4K templates (creates 2 profiles)
    include:
      - template: radarr-quality-definition-movie
      # UHD-Bluray + WEB profile
      - template: radarr-quality-profile-uhd-bluray-web
      - template: radarr-custom-formats-uhd-bluray-web
      # Remux + WEB 2160p profile
      - template: radarr-quality-profile-remux-web-2160p
      - template: radarr-custom-formats-remux-web-2160p
    
    # Media naming - configure manually in Radarr UI if needed

sonarr:
  #---------------------------------------------------------------------------
  # Sonarr-HD: 1080p TV Shows
  #---------------------------------------------------------------------------
  sonarr-hd:
    base_url: http://sonarr-hd:8989
    api_key: !env_var SONARR_HD_API_KEY
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH WEB template
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-custom-formats-web-1080p
    
    media_naming:
      series: default
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default
    
    # Create custom Remux profile - FIXED quality name!
    quality_profiles:
      - name: Remux-1080p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray-1080p Remux  # Fixed! Was "Remux-1080p"
          until_score: 10000
        qualities:
          - name: Bluray-1080p Remux  # Fixed! Was "Remux-1080p"

  #---------------------------------------------------------------------------
  # Sonarr-4K: 4K TV Shows
  #---------------------------------------------------------------------------
  sonarr-4k:
    base_url: http://sonarr-4k:8989
    api_key: !env_var SONARR_4K_API_KEY
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH WEB template
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-2160p
      - template: sonarr-v4-custom-formats-web-2160p
    
    media_naming:
      series: default
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default
    
    # Create custom 4K Remux profile - FIXED quality name!
    quality_profiles:
      - name: Remux-2160p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray-2160p Remux  # Fixed! Was "Remux-2160p"
          until_score: 10000
        qualities:
          - name: Bluray-2160p Remux  # Fixed! Was "Remux-2160p"
