###############################################################################
# Recyclarr Configuration - COMPLETE WITH TRASH TEMPLATES
# Last Updated: 2024-12-26
# 
# Strategy:
# - Use TRaSH templates for base (gets ALL formats automatically)
# - Add ALL optional formats TRaSH recommends
# - Customize scores for our needs (1080p+HDR priority!)
# - 10 Quality Profiles (4 Radarr + 6 Sonarr)
# - TRaSH Naming enabled
# - Daily auto-sync
###############################################################################

###############################################################################
# RADARR INSTANCES
###############################################################################

radarr:
  #---------------------------------------------------------------------------
  # Radarr-HD: 1080p Movies
  #---------------------------------------------------------------------------
  radarr-hd:
    base_url: http://radarr-hd:7878
    api_key: ${RADARR_HD_API_KEY}
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH templates - gets ALL base formats automatically!
    include:
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
    
    # TRaSH naming for movies
    media_naming:
      folder: plex
      movie:
        rename: true
        standard: plex
    
    # Create additional Remux profile
    quality_profiles:
      - name: HD-Remux ONLY
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Remux-1080p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Remux-1080p
    
    custom_formats:
      #-----------------------------------------------------------------------
      # OPTIONAL UNWANTED FORMATS - ADD THESE! (TRaSH recommends but not default)
      #-----------------------------------------------------------------------
      - trash_ids:
          - b6832f586342ef70d9c128d40c07b872  # Bad Dual Groups
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5  # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2  # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f  # Retags
          - f537cf427b64c38c8e36298f657e4828  # Scene
        quality_profiles:
          - name: HD-Bluray + WEB
            score: -10000
          - name: HD-Remux ONLY
            score: -10000
      
      #-----------------------------------------------------------------------
      # MOVIE VERSIONS - Enable these special editions
      #-----------------------------------------------------------------------
      - trash_ids:
          - 0f12c086e289cf966fa5948eac571f44  # Hybrid
          - 570bc9ebecd92723d2d21500f4be314c  # Remaster
          - eca37840c13c6ef2dd0262b141a5482f  # 4K Remaster
          - e0c07d59beb37348e975a930d5e50319  # Criterion Collection
          - 9d27d9d2181838f76dee150882bdc58c  # Masters of Cinema
          - db9b4c4b53d312a876a3dc8c28be97ee6 # Vinegar Syndrome
        quality_profiles:
          - name: HD-Bluray + WEB
          - name: HD-Remux ONLY
      
      #-----------------------------------------------------------------------
      # CUSTOMIZE HDR SCORES - 1080p+HDR > 1080p SDR Bluray!
      # Override TRaSH defaults to boost HDR even more
      #-----------------------------------------------------------------------
      - trash_ids:
          - dfb86d5941bc9075d6af23b09c2aeecd  # HDR10
        quality_profiles:
          - name: HD-Bluray + WEB
            score: 400  # Boost! WEB+HDR10 > SDR Bluray
          - name: HD-Remux ONLY
            score: 400
      
      - trash_ids:
          - e23edd2482476e595fb990b12e7c609c  # DV HDR10
        quality_profiles:
          - name: HD-Bluray + WEB
            score: 350
          - name: HD-Remux ONLY
            score: 350
      
      #-----------------------------------------------------------------------
      # CUSTOMIZE AUDIO SCORES - Atmos priority
      #-----------------------------------------------------------------------
      - trash_ids:
          - 496f355514737f7d83bf7aa4d24f8169  # TrueHD Atmos
          - 2f22d89048b01681dde8afe203bf2e95  # DTS:X
        quality_profiles:
          - name: HD-Bluray + WEB
            score: 400
          - name: HD-Remux ONLY
            score: 400

  #---------------------------------------------------------------------------
  # Radarr-4K: 4K/2160p Movies
  #---------------------------------------------------------------------------
  radarr-4k:
    base_url: http://radarr-4k:7878
    api_key: ${RADARR_4K_API_KEY}
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH templates for 4K
    include:
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-uhd-bluray-web
      - template: radarr-custom-formats-uhd-bluray-web
    
    # TRaSH naming for 4K
    media_naming:
      folder: plex
      movie:
        rename: true
        standard: plex
    
    # Create additional 4K Remux profile
    quality_profiles:
      - name: UHD-Remux ONLY
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Remux-2160p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Remux-2160p
    
    custom_formats:
      #-----------------------------------------------------------------------
      # OPTIONAL UNWANTED - Same as HD
      #-----------------------------------------------------------------------
      - trash_ids:
          - b6832f586342ef70d9c128d40c07b872  # Bad Dual Groups
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5  # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2  # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f  # Retags
          - f537cf427b64c38c8e36298f657e4828  # Scene
        quality_profiles:
          - name: UHD-Bluray + WEB
            score: -10000
          - name: UHD-Remux ONLY
            score: -10000
      
      #-----------------------------------------------------------------------
      # MOVIE VERSIONS
      #-----------------------------------------------------------------------
      - trash_ids:
          - 0f12c086e289cf966fa5948eac571f44  # Hybrid
          - 570bc9ebecd92723d2d21500f4be314c  # Remaster
          - eca37840c13c6ef2dd0262b141a5482f  # 4K Remaster
          - e0c07d59beb37348e975a930d5e50319  # Criterion Collection
          - 9d27d9d2181838f76dee150882bdc58c  # Masters of Cinema
          - db9b4c4b53d312a876a3dc8c28be97ee6 # Vinegar Syndrome
        quality_profiles:
          - name: UHD-Bluray + WEB
          - name: UHD-Remux ONLY
      
      #-----------------------------------------------------------------------
      # CUSTOMIZE 4K HDR - Even MORE important for 4K!
      #-----------------------------------------------------------------------
      - trash_ids:
          - dfb86d5941bc9075d6af23b09c2aeecd  # HDR10
        quality_profiles:
          - name: UHD-Bluray + WEB
            score: 500  # Higher for 4K!
          - name: UHD-Remux ONLY
            score: 500
      
      - trash_ids:
          - e23edd2482476e595fb990b12e7c609c  # DV HDR10
        quality_profiles:
          - name: UHD-Bluray + WEB
            score: 450
          - name: UHD-Remux ONLY
            score: 450
      
      #-----------------------------------------------------------------------
      # 4K AUDIO - Higher scores
      #-----------------------------------------------------------------------
      - trash_ids:
          - 496f355514737f7d83bf7aa4d24f8169  # TrueHD Atmos
          - 2f22d89048b01681dde8afe203bf2e95  # DTS:X
        quality_profiles:
          - name: UHD-Bluray + WEB
            score: 500
          - name: UHD-Remux ONLY
            score: 500

###############################################################################
# SONARR INSTANCES
###############################################################################

sonarr:
  #---------------------------------------------------------------------------
  # Sonarr-HD: 1080p TV Shows
  #---------------------------------------------------------------------------
  sonarr-hd:
    base_url: http://sonarr-hd:8989
    api_key: ${SONARR_HD_API_KEY}
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH templates for HD TV
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-custom-formats-web-1080p
    
    # TRaSH naming for TV
    media_naming:
      series: plex
      season: plex
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default
    
    # Create additional Bluray and Remux profiles
    quality_profiles:
      - name: Bluray-1080p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray-1080p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Bluray-1080p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: HDTV-1080p
      
      - name: Remux-1080p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Remux-1080p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Remux-1080p
    
    custom_formats:
      #-----------------------------------------------------------------------
      # Apply ALL formats to all 3 profiles
      # TRaSH template already includes most, we just assign to new profiles
      #-----------------------------------------------------------------------
      
      # Assign existing TRaSH formats to our additional profiles
      - trash_ids:
          - ec8fa7296b64e8cd390a1600981f3923  # Repack/Proper
          - eb3d5cc0a2be0db205fb823640db6a3c  # Repack v2
          - 44e7c4de10ae50265753082e5dc76047  # Repack v3
        quality_profiles:
          - name: WEB-1080p
          - name: Bluray-1080p
          - name: Remux-1080p
      
      - trash_ids:
          - 32b367365729d530ca1c124a0b180c64  # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03  # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458  # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140  # Retags
          - 1b3994c551cbb92a2c781af061f4ab44  # Scene
        quality_profiles:
          - name: WEB-1080p
            score: -10000
          - name: Bluray-1080p
            score: -10000
          - name: Remux-1080p
            score: -10000
      
      - trash_ids:
          - dfb86d5941bc9075d6af23b09c2aeecd  # HDR10
        quality_profiles:
          - name: WEB-1080p
            score: 200
          - name: Bluray-1080p
            score: 200
          - name: Remux-1080p
            score: 200

  #---------------------------------------------------------------------------
  # Sonarr-4K: 4K/2160p TV Shows
  #---------------------------------------------------------------------------
  sonarr-4k:
    base_url: http://sonarr-4k:8989
    api_key: ${SONARR_4K_API_KEY}
    
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    
    # Include TRaSH templates for 4K TV
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-2160p
      - template: sonarr-v4-custom-formats-web-2160p
    
    # TRaSH naming for 4K TV
    media_naming:
      series: plex
      season: plex
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default
    
    # Create additional 4K Bluray and Remux profiles
    quality_profiles:
      - name: Bluray-2160p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray-2160p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Bluray-2160p
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: HDTV-2160p
      
      - name: Remux-2160p
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Remux-2160p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: Remux-2160p
    
    custom_formats:
      # Assign to all profiles
      - trash_ids:
          - ec8fa7296b64e8cd390a1600981f3923  # Repack/Proper
          - eb3d5cc0a2be0db205fb823640db6a3c  # Repack v2
          - 44e7c4de10ae50265753082e5dc76047  # Repack v3
        quality_profiles:
          - name: WEB-2160p
          - name: Bluray-2160p
          - name: Remux-2160p
      
      - trash_ids:
          - 32b367365729d530ca1c124a0b180c64  # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03  # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458  # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140  # Retags
          - 1b3994c551cbb92a2c781af061f4ab44  # Scene
        quality_profiles:
          - name: WEB-2160p
            score: -10000
          - name: Bluray-2160p
            score: -10000
          - name: Remux-2160p
            score: -10000
      
      - trash_ids:
          - dfb86d5941bc9075d6af23b09c2aeecd  # HDR10
        quality_profiles:
          - name: WEB-2160p
            score: 400
          - name: Bluray-2160p
            score: 400
          - name: Remux-2160p
            score: 400
